.board_container .status_container{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.status_container button {
  background-color: #A9A9A9; 
  border: none;
  color: white;
  padding: 15px ;
  text-align: center;
  font-size: 20px;
  width: 150px;
}

.status_container button:hover {
  cursor: pointer;
  color: black;
}

