.board {
  display: flex;
  justify-content: space-between;
  
  width: 320px;
  height: 320px;
  font-size: 4rem;
}

.board .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.finished {
  position: relative;
}

.finished:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
}

.small {
  width: 80px;
  height: 80px;
  font-size: 1rem;
}

