.column .square {
  display: block;
  border: 1px solid #e4e4e4;
  height: 100%;
  font-weight : 100;
  text-align: center;
  margin: 5%;
}

.column .empty:hover {
  border: 1px solid #000;
  cursor: pointer;
  background-color: #e4e4e4;
  color: #000;
}
